.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.github/**
.github/**
node_modules/**
PROJECT_BREAKDOWN.md
GITHUB_ISSUES_TEMPLATE.md
DEVELOPMENT.md
sample.md
icon-placeholder.md
media/example-workspace-style.css
**/*.vsix
.eslintrc.js
webpack.config.js